<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="styles/main.css">
	<title>ShopX | Where retailers meet shoppers</title>
	
	<script src="scripts/vue.js"></script>
	<script src="scripts/buefy.min.js"></script>
</head>
<body>
	<div id="app">
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="">
					<img src="img/logo.png" width="120" >
				</a>
				
				<button class="button navbar-burger"></button>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start" style="padding: 0.5em">
					<input class="input" style="width:30em;margin-left:10em;height:100%" type="text" placeholder="Search...">
				</div>
				<div class="navbar-end">
					<a class="navbar-item">Home</a>
					<a class="navbar-item">Trending</a>
					<a class="navbar-item" @click="isLoginActive=true">Login</a>
				</div>
			</div>
		</nav>
		
		<b-modal :active.sync="isLoginActive">
			<auth></auth>
		</b-modal>
	</div>
	<footer>
		<p>&copy; Shop<span style="color:rgb(21, 102, 192)">X</span> 2017</p>
	</footer>
	
	<script type="text/x-template" id="auth-templ">
		<div>
			<section class="login-win">
				<b-field label="Email">
					<b-input v-model="email" type="email" />
				</b-field>
				
				<b-field label="Password">
					<b-input password-reveal v-model="pass" type="password"></b-input>
				</b-field>
				<p v-if="!register" align="right">New User? <a href="#" @click="register=true">Sign Up.</a></p>
				<div v-if="register">
					<b-field label="I came to">
						<b-select placeholder="Shop/Sell" v-model="typeOption">
							<option value="1">Shop</option>
							<option value="2">Sell</option>
						</b-select>
					</b-field>
				</div>
			</section>
			<div class="panel" align="right">
				<button class="is-link button" v-if="!register" @click="login">Login</button>
				<button class="is-link button" v-if="register" @click="login">Register</button>
				<button class="is-link button" @click="closeModal">Cancel</button>
			</div>
		</div>
	</script>
	
	<script src="scripts/axios.min.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>